body{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: sans-serif;
}
.scroll-container{
    background: rgba(7, 7, 7);
    width: 25rem;
padding: 30px;

}
.scroll-div{
    width: 400px;
    height: 500px;
    background: rgb(7,7,7);
    overflow: hidden;
    overflow-y: scroll;
}